In [ ]:
# Downloading DBF Read dependencies
!pip install dbfread

Requirement already satisfied: dbfread in /usr/local/lib/python3.7/dist-packages (2.0.7)

# Converting DBFs to CSVs

In [ ]:
import pandas as pd
from dbfread import DBF
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Uploads DBF files to Google colab 
from google.colab import files
uploaded = files.upload()

Saving MENU.DBF to MENU.DBF

In [ ]:
# # Convert DBF files to pandas DF
# sdet_dbf = DBF('./SDET0421.DBF')
# sdet_df = pd.DataFrame(iter(sdet_dbf))

# sls_dbf = DBF('./SLS0421.DBF')
# sls_df = pd.DataFrame(iter(sls_dbf))

# pages_dbf = DBF('./PAGES.DBF', encoding = "ISO-8859-1")
# pages_df = pd.DataFrame(iter(pages_dbf))

# menu_dbf = DBF('./MENU.DBF', encoding = "ISO-8859-1")
# menu_df = pd.DataFrame(iter(menu_dbf))

# pagetype_dbf = DBF('./PAGETYPE.DBF')
# pagetype_df = pd.DataFrame(iter(pagetype_dbf))

# revcent_dbf = DBF('./REVCENT.DBF')
# revcent_df = pd.DataFrame(iter(revcent_dbf))

# tipopag_dbf = DBF('./TIPOPAG.DBF')
# tipopag_df = pd.DataFrame(iter(tipopag_dbf))

In [ ]:
# # Printing DF
# menu_df.head()

In [ ]:
# Stores the dataframe as a csv in the TEMP Google Drive filesystem
# sdet_df.to_csv('SDET0421.csv')
# sls_df.to_csv('SLS0421.csv')
# pages_df.to_csv('PAGES.csv')
# menu_df.to_csv('MENU.csv')
# pagetype_df.to_csv('PAGETYPE.csv')
# revcent_df.to_csv('REVCENT.csv')
# tipopag_df.to_csv('TIPOPAG.csv')

In [ ]:
# # Stores the dataframes as a csv in Shared Drive folder

# sdet_df.to_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/SDET0421.csv')
# sls_df.to_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/SLS0421.csv')
# pages_df.to_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/PAGES.csv')
# menu_df.to_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/MENU.csv')
# pagetype_df.to_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/PAGETYPE.csv')
# revcent_df.to_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/REVCENT.csv')
# tipopag_df.to_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/TIPOPAG.csv')

## Creating Sales Reports for WF Rada
Start here if you don't want to convert DBFs

In [ ]:
# Reads csv's from GDrive
# NOTE: this is specifically connected to Ivan's GDrive path. Still need to make Shared GDrive
# sdet_df_wf_rada = pd.read_csv('/content/drive/MyDrive/3 Projects/Project Sunday/csv_landingzone/WF RADA/0421/SDET0421.csv', index_col='Unnamed: 0')
# sls_df_wf_rada = pd.read_csv('/content/drive/MyDrive/3 Projects/Project Sunday/csv_landingzone/WF RADA/0421/SLS0421.csv', index_col='Unnamed: 0')
# pages_df_wf_rada = pd.read_csv('/content/drive/MyDrive/3 Projects/Project Sunday/csv_landingzone/WF RADA/0421/PAGES.csv', index_col='Unnamed: 0')
# menu_df_wf_rada = pd.read_csv('/content/drive/MyDrive/3 Projects/Project Sunday/csv_landingzone/WF RADA/0421/MENU.csv', index_col='Unnamed: 0')
# pagetype_df_wf_rada = pd.read_csv('/content/drive/MyDrive/3 Projects/Project Sunday/csv_landingzone/WF RADA/0421/PAGETYPE.csv', index_col='Unnamed: 0')
# revcent_df_wf_rada = pd.read_csv('/content/drive/MyDrive/3 Projects/Project Sunday/csv_landingzone/WF RADA/0421/REVCENT.csv', index_col='Unnamed: 0')
# tipopag_df_wf_rada = pd.read_csv('/content/drive/MyDrive/3 Projects/Project Sunday/csv_landingzone/WF RADA/0421/TIPOPAG.csv', index_col='Unnamed: 0')

sdet_df_wf_rada = pd.read_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/SDET0421.csv', index_col='Unnamed: 0')
sls_df_wf_rada = pd.read_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/SLS0421.csv', index_col='Unnamed: 0')
pages_df_wf_rada = pd.read_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/PAGES.csv', index_col='Unnamed: 0')
menu_df_wf_rada = pd.read_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/MENU.csv', index_col='Unnamed: 0')
pagetype_df_wf_rada = pd.read_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/PAGETYPE.csv', index_col='Unnamed: 0')
revcent_df_wf_rada = pd.read_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/REVCENT.csv', index_col='Unnamed: 0')
tipopag_df_wf_rada = pd.read_csv('/content/drive/Shareddrives/Project Sunday/csv_converted_files/WF_RADA/0421/TIPOPAG.csv', index_col='Unnamed: 0')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (35,39,56,58,61,78,79,81) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# Checking contents of files
sdet_df_wf_rada.head()

   BILL_NO  REF_NO  QUANTY  PRICE_PAID  ...  SPEC_INST  MODOF  MODSCREEN  SQLSTATE
0   316064     633     1.0       84.82  ...        NaN      0          0         0
1   316064     646     1.0       84.82  ...        NaN      0          0         0
2   316065    8106     1.0      125.00  ...        NaN      0          0         0
3   316065     652     1.0      138.39  ...        NaN      0          0         0
4   316066     814     1.0      138.39  ...        NaN      0          0         0

[5 rows x 33 columns]

### I. Sales by Group
Features:
1. **ORD_DATE**: date item was ordered (SDET)
2. **REF_NO**: item number (MENU/SDET)
3. **DESCRIPT**: indicates item name (MENU)
4. **PAGE_NUM**: group number (PAGES/MENU)
5. **PAGE_NAME**: indicates group name (PAGES)
6. **RAW_PRICE-VAT_ADJ**: Sales + VAT (SDET)

In [ ]:
# First step: let's study each of the needed DataFrames
sdet_df_wf_rada

In [ ]:
menu_df_wf_rada.head()

In [ ]:
pages_df_wf_rada.head()

In [ ]:
# Taking only ORD_DATE and REF_NO from SDET DataFrame
group_sales_sdet = sdet_df_wf_rada[['ORD_DATE', 'REF_NO']]

# Creating RAW_PRICE-VAT_ADJ from SDET columns
group_sales_sdet['SALES_VAT'] = sdet_df_wf_rada['RAW_PRICE'] + sdet_df_wf_rada['VAT_ADJ']

group_sales_sdet

In [ ]:
# Joining the MENU table with the SDET table
group_sales_df = pd.merge(group_sales_sdet, menu_df_wf_rada, how="left", on=["REF_NO"])
# Only taking these columns
group_sales_df = group_sales_df[['ORD_DATE', 'REF_NO', 'DESCRIPT', 'PAGE_NUM', 'SALES_VAT']]
# Joining MENU + SDET with PAGES
group_sales_df = pd.merge(group_sales_df, pages_df_wf_rada, how='left', on=['PAGE_NUM'])
# Only taking these columns
group_sales_df = group_sales_df[['ORD_DATE', 'REF_NO', 'DESCRIPT', 'PAGE_NUM', 'PAGE_NAME', 'SALES_VAT']]

group_sales_df.head()

## II. Sales by Revenue Center
1. **DATE**: Date of Bill (SLS)
2. **BILL_NO**: Bill number of the transaction (SLS)
3. **REV_CENTER**: Revenue Center Number (SLS/REVCENT)
4. **RC_NAME**: Revenue Center Name (REVCENT)
5. **RECEIVED**: Total payment for bills (SLS)

In [ ]:
# Let's study the DataFrames again
sls_df_wf_rada.head()

In [ ]:
revcent_df_wf_rada.head()

In [ ]:
rc_sales_sls = sls_df_wf_rada[['DATE', 'BILL_NO', 'RECEIVED', 'REV_CENTER']]
# Merging SLS and REVCENT
rc_sales_df = pd.merge(rc_sales_sls, revcent_df_wf_rada, how="left", on=["REV_CENTER"])
# Only taking these columns
rc_sales_df = rc_sales_df[['DATE', 'BILL_NO', 'REV_CENTER', 'RC_NAME', 'RECEIVED']]
rc_sales_df.head(10)

In [ ]:
# NOTE: This is a repeat of what's above. I just added TAXES
rc_sales_sls = sls_df_wf_rada[['DATE', 'BILL_NO', 'RECEIVED', 'REV_CENTER', 'TAXES']]

rc_sales_df = pd.merge(rc_sales_sls, revcent_df_wf_rada, how="left", on=["REV_CENTER"])
# Only taking these columns
rc_sales_df = rc_sales_df[['DATE', 'BILL_NO', 'REV_CENTER', 'RC_NAME', 'RECEIVED', 'TAXES']]
rc_sales_df.head(10)

## PDF Reports
### I. Sales by Group
FIXME

In [ ]:
pdf_group_df = rc_sales_df.groupby(["REV_CENTER", "RC_NAME"]).agg(
    Trans=pd.NamedAgg(column="REV_CENTER", aggfunc="count"),
    Cust=pd.NamedAgg(column="REV_CENTER", aggfunc="count"),
    Sales=pd.NamedAgg(column="RECEIVED", aggfunc="sum"),
    Taxes=pd.NamedAgg(column="TAXES", aggfunc="sum"))
pdf_group_df['Total'] = pdf_rc_df['Taxes'] + pdf_rc_df['Sales']
pdf_group_df['Trans Average'] = pdf_rc_df['Sales'] / pdf_rc_df['Trans']
pdf_group_df['Customer Average'] = pdf_rc_df['Sales'] / pdf_rc_df['Cust']

pdf_group_df

### II. Sales by Revenue Center

In [ ]:
pdf_rc_df = rc_sales_df.groupby(["REV_CENTER", "RC_NAME"]).agg(
    Trans=pd.NamedAgg(column="REV_CENTER", aggfunc="count"),
    Cust=pd.NamedAgg(column="REV_CENTER", aggfunc="count"),
    Sales=pd.NamedAgg(column="RECEIVED", aggfunc="sum"),
    Taxes=pd.NamedAgg(column="TAXES", aggfunc="sum"))
pdf_rc_df['Total'] = pdf_rc_df['Taxes'] + pdf_rc_df['Sales']
pdf_rc_df['Trans Average'] = pdf_rc_df['Sales'] / pdf_rc_df['Trans']
pdf_rc_df['Customer Average'] = pdf_rc_df['Sales'] / pdf_rc_df['Cust']

pdf_rc_df

## VLOOKUP

In [ ]:
#